.c1 {
  background-color:  rgb(0, 168, 224);
  z-index: 3;
}
.headings {
  text-align: center;
  
}

.c2 {
  background-color: #ccc;
  border: #fff;
}

.btcolor {
  background-color: rgb(0, 168, 224);
  border: #fff 1px solid;
}

.btcolor:hover {
  background-color: #fff;
  color: #333;
  border: rgb(0, 168, 224) 1px solid;
}